#cc-main {
  /** Change font **/
  --cc-font-family: var(--font-sans);

  --cc-bg: #ffffff;
  --cc-primary-color: var(--primary);
  --cc-secondary-color: #A2D9F7;

  /** Change button primary color to black **/
  --cc-btn-primary-bg: var(--primary);
  --cc-btn-primary-color: hsl(var(--primary-foreground));
  --cc-btn-primary-border-color: var(--primary);
  --cc-btn-primary-hover-bg: hsl(var(--primary) / 0.8);
  --cc-btn-primary-hover-border-color: hsl(var(--primary) / 0.8);

  --cc-btn-secondary-bg: var(--secondary);
  --cc-btn-secondary-color: var(--secondary-foreground);
  --cc-btn-secondary-border-color: var(--secondary);
  --cc-btn-secondary-hover-bg: hsl(var(--secondary) / 0.8);
  --cc-btn-secondary-hover-border-color: hsl(var(--secondary) / 0.8);

  --cc-separator-border-color: var(--border);

  /** Also make toggles the same color as the button **/
  --cc-toggle-on-bg: var(--cc-btn-primary-bg);

  /** Make the buttons a bit rounder **/
  --cc-btn-border-radius: 4px;
}
